#chat-iframe {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  border: none;
}
.tranq-player-right {
  width: 60% !important;
  margin-right: 10% !important;
}
.tranq-chatright {
  width: 40%;
  float: right;
  height: 100%;
}
.tranq-fullscreen {
  width: 100%;
  height: 100%;
  background: transparent;
  position: relative;
  z-index: 555;
  top: -40px;
}
.tranq-chathidden {
  opacity: 0;
}
